<!DOCTYPE html>
<html lang="en">
 
  <style>
 
 ::-webkit-scrollbar {
	width: 12px;
	background-color: rgb(85, 85, 85);
}
 body{
   width:100%;
 }

 #history-orders-tab{
color:darkgrey;
 }
 #active-orders-tab{
  color:darkgrey;
 }

 #user-orders-tab-content{
   color:white;
 }
::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: rgb(85, 85, 85);
}
 
::-webkit-scrollbar-thumb {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: rgb(27, 27, 27);
}

    #baser {
      display: flex;
      background-color: rgb(72,72,72);
      width: 80em;
      height: 80em;
    }
    #DIV_87 {
    }
    #DIV_88 {
    }
    #DIV_89 {
    }
    #DIV_90 {
    }
    #DIV_91 {
    }
}



.containera{
display: block;
width: 100%;
height: 100%;
height: 100%;
}


  </style>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
    <% include ../partials/head %>
  <body style="background-color:rgb(7, 7, 8);">

    <% include ../partials/header %>
   

      <input id='id_token' type='hidden' <% var value = ''; try{if (status.token) value = "value='"+status.token+"'"}catch(e){} %> <%- value %>>
     
         <div class="row" style="margin-right: 0px; margin-left: 0px; margin-top: 0px; height:92.25vh; margin-top: 0.25%;">
            
          <div style="display: flexbox; width: 69.25%; height: 100%; margin-left: 0.25%; ">

            <div class="row" style="margin-right: 0px; margin-left: 0px; margin-top: 0px; height:70%; margin-top: 0%;">

            <div style="display: flexbox; width: 100%; height: 100%;">
              <iframe frameBorder="0" scrolling='no' style='height: 100%; width: 100%;' src='../bigChart.html'></iframe>
           </div>
            </div>

            <div class="row" style="margin-right: 0px; margin-left: 0px; margin-top: 0px; height:30.00%; margin-top: 0.25%;">
              <div style="display: flexbox; background-color:rgb(14, 17, 24);width: 100%; height: 100%; margin-right: 0px;">



                <ul class="nav nav-tabs">
                  <li class="nav-item">
                    <a class="nav-link active" id="active-orders-tab" data-toggle="tab" href="#active_orders" role="tab" aria-controls="active_orders" aria-selected="true" style="background-color: rgba(255, 255, 255, 0);"><%-__('Your active orders')%></a>
                  </li>
                  <li class="nav-item " style="background-color:rgb(14, 17, 24);">
                    <a class="nav-link" id="history-orders-tab" data-toggle="tab" href="#history-orders" role="tab" aria-controls="history-orders" aria-selected="false" style="background-color: rgba(255, 255, 255, 0);"><%-__('Your history')%></a>
                  </li>
                </ul>
    
                
                  <div class="tab-content" style="background-color:rgb(14, 17, 24);" id="user-orders-tab-content">
                    <div class="tab-pane fade show active" id="active_orders" role="tabpanel" aria-labelledby="active-orders-tab">
                      <table class="table table-striped table-sm">
                        <thead>
                          <tr>
                            <th>Time</th>
                            <th>Order</th>
                            <th>Amount</th>
                            <th>Price</th>
                            <th></th>
                          </tr>
                        </thead>
                        <tbody id='id_user_orders'>
                        </tbody>
                      </table>
                    </div>
                    <div class="tab-pane fade" id="history-orders" role="tabpanel" aria-labelledby="history-orders-tab">
                      <table class="table table-striped table-sm">
                        <thead>
                          <tr>
                            <th>Time</th>
                            <th>Order</th>
                            <th>Amount</th>
                            <th>Price</th>
                            <th></th>
                          </tr>
                        </thead>
                        <tbody id='id_user_orders_history'>
                        </tbody>
                      </table>
                    </div>
                  </div>
               




              </div>
            </div>
              </div>

              
              <div style="display: flexbox; width: 30%; height: 100%; margin-left: 0.25%; margin-right: 0.25%">
                <div class="row" style="margin-right: 0px; margin-left: 0px; margin-top: 0px; height: 66.75%;">
                <div style="display: flexbox; background-color: rgb(139, 49, 151); width: 49.25%; height: 100%;">
                
                    <div style="display: flexbox;  width:100; height: 50%;">
                      
                      <div class="card" style="border: 0px; height: 100%;);">
                        <div class="card-body div-orders p-0" style="background-color:rgb(14, 17, 24); text-align: center; max-height: 100%; min-height: 100%; color:rgb(26, 236, 131);" >
                          <table class="table table-striped table-sm table-orders table-hover">
                            <thead style="background-color: rgb(11, 12, 14);">
                              <tr id='id_sell_orders_header'>
                              </tr>
                            </thead>
                            <tbody id='id_sell_orders_body'>
                            </tbody>
                          </table>
                        </div>
                      </div> 

                      
                      </div>
                    <div style="display: flexbox; width:100; height: 50%;">
                   
                      <div class="card" style="border: 0px; height: 100%">
                        <div class="card-body div-orders p-0" style="background-color:rgb(14, 17, 24); text-align: center; max-height: 100%; min-height: 100%; color:rgb(239,67,67);" >
                          <table class="table table-striped table-sm table-orders table-hover">
                            <thead style="background-color: rgb(11, 12, 14);">
                              <tr id='id_buy_orders_header'>
                              </tr>
                            </thead>
                            <tbody id='id_buy_orders_body'>
                            </tbody>
                          </table>
                        </div>
                      </div> 
                   
                   
                   
                    </div>
                  

                </div>
                <div style="display: flexbox;  width: 50%; height: 100%; margin-left: 0.75%;">
                  <div class="card" style="border: 0px; height: 100%; background-color:rgb(14, 17, 24); overflow: hidden;">
                  <table class="table table-striped table-sm table-orders" style="background-color:rgb(14, 17, 24); width: 100%; height: 100%; color:darkgrey;">
                    <thead style="background-color: rgb(11, 12, 14); text-align: center;">
                      <tr>
                        <th>Time</th>
                        <th>Type</th>
                        <th>Volume</th>
                        <th>Price</th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody id='id_trade_history'>
                    </tbody>
                  </table>
                </div> 

                </div>
              </div>
              
               
                  <div class="row" style="margin-right: 0px; margin-left: 0px; margin-top: 0.75%; height: 33.1%;">
                    <div style="display: flexbox; background-color: rgb(14, 17, 24); width: 100%; height: 100%;">
                     <div style="height: 12%; width:100%; background-color: rgb(24, 29, 39);">
                      <div style="color:rgba(255,255,255,.5);vertical-align: middle; font-weight: normal; background-color: rgb(11, 12, 14); text-align: center; width: 100%; height: 100%; display:inline-flexbox; border-right: 2px solid rgb(24, 27, 31); border-left: 2px solid rgb(24, 27, 31);border-top: 2px solid rgb(24, 27, 31); border-bottom: 2px solid rgb(24, 27, 31);" href="/market/BTC-LYTX">
                      <p ><strong>Limit</strong></p>
                      </div>
                  </div>

                  <div style="width:50%; height:88%; float:left; color:#409AE2">
                    <form id="form_buy" class="p-3" style="height:100%;  width: 100%;">
                      <div class="row">
                        <label for="inputBuyAmount" class="col-md-4 col-form-label form-control-sm" ><strong>Amount:</strong></label>
                        <div class="col-md-8">
                          <input type="text" class="form-control" style="height:65%; padding: 0.1em 0.1em;margin-top: 0.5em;" id="inputBuyAmount" placeholder="0.0" aria-describedby="id_amount_buy" onkeypress="return (event.charCode >= 48 && event.charCode <= 57) || event.charCode == 46 || event.charCode == 0 ">
                          <span class="currency" id="id_amount_buy"></span>
                        </div>
                        <p class="pct" style="height:75%; width: 30%; display: block;margin-left: auto; margin-right: auto; margin-bottom: 0em;">50%</p>
                        <input type="range" class="custom-range" id='slider' value='50' style="padding:0.5em; width: 62%; display: block;
                        margin-left: auto;
                        margin-right: auto;
                        height:75%;">
                      
                        <label for="inputBuyPrice" class="col-md-4 col-form-label form-control-sm"><strong>Price:</strong></label>
                        <div class="col-md-8">
                          <input type="text" class="form-control" style="height:65%;  padding: 0.1em 0.1em; margin-top: 0.5em;" id="inputBuyPrice" placeholder="0.0" onkeypress="return (event.charCode >= 48 && event.charCode <= 57) || event.charCode == 46 || event.charCode == 0 ">
                          <span class="currency" id="id_price_buy"></span>
                        </div>
                      </div>
                      <div class="row">
                        <label for="inputBuyComission" class="col-md-4 col-form-label form-control-sm"><strong>Comission:</strong></label>
                        <div class="col-md-8">
                          <input type="text" class="form-control" style="height:65%;  padding: 0.1em 0.1em; margin-top: 0.5em;" id="inputBuyComission" readonly placeholder="0.0">
                          <span class="currency" id="id_comission_buy"></span>
                        </div>
                      
                      
                        <label for="inputBuyTotal" class="col-md-4 col-form-label form-control-sm"><strong>Total:</strong></label>
                        <div class="col-md-8">
                          <input type="text" class="form-control" style="height:65%;  padding: 0.1em 0.1em; margin-top: 0.5em;" id="inputBuyTotal" placeholder="0.0" onkeypress="return (event.charCode >= 48 && event.charCode <= 57) || event.charCode == 46 || event.charCode == 0 ">
                          <span class="currency" id="id_total_buy"></span>
                        </div>
                      </div>
                      <button style="width:100%; padding: .1rem .2rem; margin-top: 0.5em;" type="submit" class="btn btn-success" ><%-__('Buy')%></button>
                      
                    </form>

                  </div>
                  <div style="width:50%; height:88%; float: right; border-left: 3px solid rgb(24, 29, 39)">
                    <form id="form_buy" class="p-3" style="height:100%;  width: 100%; color:#EF4343">
                      <div class="row">
                        <label for="inputSellAmount" class="col-md-4 col-form-label form-control-sm"><strong>Amount:</strong></label>
                        <div class="col-md-8">
                          <input type="text" class="form-control" style="height:65%;  padding: .1rem .75rem; margin-top: 0.5em;" id="inputSellAmount" placeholder="0.0" aria-describedby="id_amount_buy" onkeypress="return (event.charCode >= 48 && event.charCode <= 57) || event.charCode == 46 || event.charCode == 0 ">
                          <span class="currency" id="id_amount_sell"></span>
                        </div>
                        <p class="pct" style="height:75%; width: 30%; display: block;margin-left: auto; margin-right: auto; margin-bottom: 0em;">50%</p>
                        <input type="range" class="custom-range" id='slider' value='50' style="padding:0.5em; width: 62%; display: block;
                        margin-left: auto;
                        margin-right: auto;
                        height:75%;">
                      
                        <label for="inputSellPrice" class="col-md-4 col-form-label form-control-sm"><strong>Price:</strong></label>
                        <div class="col-md-8">
                          <input type="text" class="form-control" style="height:65%;  padding: .1rem .75rem; margin-top: 0.5em;" id="inputSellPrice" placeholder="0.0" onkeypress="return (event.charCode >= 48 && event.charCode <= 57) || event.charCode == 46 || event.charCode == 0 ">
                          <span class="currency" id="id_price_sell"></span>
                        </div>
                      </div>
                      <div class="row">
                        <label for="inputSEllComission" class="col-md-4 col-form-label form-control-sm"><strong>Comission:</strong></label>
                        <div class="col-md-8">
                          <input type="text" class="form-control" style="height:65%;  padding: .1rem .75rem; margin-top: 0.5em;" id="inputSEllComission" readonly placeholder="0.0">
                          <span class="currency" id="id_comission_sell"></span>
                        </div>
                      
                      
                        <label for="inputSellTotal" class="col-md-4 col-form-label form-control-sm"><strong>Total:</strong></label>
                        <div class="col-md-8">
                          <input type="text" class="form-control" style="height:65%;  padding: .1rem .75rem; margin-top: 0.5em;" id="inputSellTotal" placeholder="0.0" onkeypress="return (event.charCode >= 48 && event.charCode <= 57) || event.charCode == 46 || event.charCode == 0 ">
                          <span class="currency" id="id_total_sell"></span>
                        </div>
                      </div>
                      <button style="width:100%; padding: .1rem .2rem; margin-top: 0.5em;" type="submit" class="btn btn-danger"><%-__('Sell')%></button>
                      
                    </form>
                    
                  </div>

                  
                      
                      
                    </div>
                  </div>
              </div>
            </div>
        
    <% include ../partials/footer %>
    <script src='/js/index.js'></script>
    <script>
    const slider = document.querySelector('#slider');
      const pct = document.querySelector('.pct');
      const pctIndicator = document.querySelector('#pct-ind')
      slider.oninput = () => {
        pct.textContent = `${slider.value}%`
        
        // percent for dashoffset
        const p = ( 1 - slider.value / 100 ) * (2 * (22 / 7) * 40);
        pctIndicator.style = `
          stroke-dashoffset: ${p};    
        `
      }</script>
  </body>
</html>
